
/*
    tag styles
*/

body {
    color:                  #000;   
    font-family:            Cutive,'Arial Black', sans-serif;    
    font-size:              10pt;
    margin:                 0 auto;
    max-width:              800px;
    
    width:                  80%;
}


h1 {
    color:                  #333;
    font-family:            'Headland One','Arial Black', sans-serif;
    font-size:              300%;    
    font-variant:           small-caps;
    font-weight:            bold;
    line-height:            120%;
    margin:                 0.5em auto 0.2em auto;
    text-align:             center;
    text-shadow:            2px 2px 0 rgba(0,0,0,0.1); 
}

h2,  h2 a, h2 a:visited {
    color:                  #333;
    font-family:            'Headland One','Arial Black', sans-serif;
    font-size:              130%;    
    font-weight:            bold;
    line-height:            120%;
    margin:                 0 auto 0.2em auto;
    text-align:             center;
    text-shadow:            2px 2px 0 rgba(0,0,0,0.1); 
    text-transform:         uppercase;
}

h3 {
    color:                  #222;
    font-family:            'Headland One',Arial, Arial, Helvetica, sans-serif;
    font-size:              100%;
    font-weight:            bold;
    line-height:            140%;
    margin:                 0.75em 0 0.4em 0.2em;
    text-align:             left;    
    text-shadow:            2px 2px 0 rgba(0,0,0,0.1); 
    width:                  90%;
}

/*
    Nav
*/

#nav {
    text-align:             center;
}
#nav ul {
    border:                 solid 1px red;
    display:                block;
    margin:                 0 auto 1em auto;
    padding:                0;
}
#nav li {
    border:                 solid 1px #000;
    -moz-border-radius:     4px;
    -webkit-border-radius:  4px;
	border-radius:          4px;
    
    display:                inline-block;
    list-style:             none;
    margin:                 0 1em;
    min-width:              5em;
    padding:                0.3em 1em;
    text-align:             center;
}

p {
    line-height:            160%;
    margin:                 0.5em 0 0.25em 0.5em;
    text-align:             center;    
    text-align:             justify;
    width:                  98%;
}

div.shutup {
    font-family:            'Headland One','Arial Black', sans-serif;
	font-size:              120%;
	font-weight:            bold;
    letter-spacing:         2px;
    line-height:            200%;
    margin:                 1em 0;
    

    clear:                  both;
    display:                inline-block;
    text-align:             center;
    width:                  100%;
}

span.shutup {
    /*
    -moz-box-shadow:        inset 0px 1px 0px 0px #C95D13;
    -webkit-box-shadow:     inset 0px 1px 0px 0px #C95D13;
	box-shadow:             inset 0px 1px 0px 0px #C95D13;
	background:             #F87217;
    background:             -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F87217), color-stop(1, #FA9C5D) );
	background:             -moz-linear-gradient( center top, #F87217 5%, #FA9C5D 100% );    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F87217', endColorstr='#FA9C5D');
    */
	border:                 2px solid #444;
    -moz-border-radius:     4px;
	-webkit-border-radius:  4px;
	border-radius:          4px;
	color:                  #000;
    cursor:                 hand;
    cursor:                 pointer;
    display:                inline;
    margin:                 1em auto;
	padding:                6px 24px;
	text-decoration:        none;
	text-shadow:            2px 2px 3px #333;    
}

a sup {
    font-size:              70%;
    text-decoration:        none;
    vertical-align:         super;
}


a, a:visited, a:active   {
    color:                  #225;
    text-decoration:        none;
    border-bottom:          thin dotted rgba(34,34,85,0.15);
}

a:hover   {
    color:                  #225;
    text-decoration:        none;
    text-shadow:            1px 1px 2px #55A;  
    text-shadow:            2px 2px 0 rgba(0,0,99,0.1); 
}

#footnotes {
    border-top:             4px double black;
    line-height:            160%;
    margin:                 3em 0 0 0;
    padding-top:            1em;
}

#shallowhill, #verbance, #paintball, #event {
    background-color:       #F6F5F4;
    background-repeat:      no-repeat;
    background-position:    center; 
    border:                 2px solid #444;
    -moz-border-radius:     10px;
	-webkit-border-radius:  10px;
	border-radius:          10px;
    max-width:              800px;
    margin:                 1em auto 1em auto;
    padding:                1em 1em 2em 1em;    
}

#shallowhill {
    background-image:       url('../img/xander4.jpg');

}

p strong {
    /*
    font-family:            Anton;
    font-size:              150%;
    */
    font-weight:            bold;
}

ul {
    line-height:            140%;
    list-style-type:        disc;
    margin:                 0 0 0 2.5em;
}

li {
    margin:                 0.5em 0 0 0;
}

table {
    margin:                 2em auto;
}

td {
    padding:                0.6em 1em;
    text-align:             left;
}

th {
    border-bottom:          double 4px black;
    padding:				0.5em 0 0 0;
}

#lbmain {
    /*border:                 solid 2px #333;*/
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
	border-radius:          10px;
    float:                  right;
    font-size:              80%;
    margin:                 1em auto;
    max-width:              500px;
    padding:                1em 0;
    text-align:             center;
    width:                  40%;
}

#verbdesc {
    float:                  left;
    width:                  55%;
}

#lbmain h3 {
    border-bottom:          double 4px #333;
    font-size:              130%;
    margin:                 0 auto 0.5em auto;
    padding:                0 0 0.25em 0;
    text-align:             center;
}

#leaderboard {
    border:                 none;
    display:                block;
    margin:                 1em auto;
    min-height:             20em;
}

#refresh {
    border:                 solid 2px #113;
    -moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    border-radius:          5px;    
    color:                  #224;
    clear:                  both;
    display:                inline-block;
    font-size:              125%;
    padding:                0.5em;
}

#refresh:hover   {
    cursor:                 hand;
    cursor:                 pointer;
    text-decoration:        none;
    text-shadow:            1px 1px 2px #55A;  
    text-shadow:            2px 2px 0 rgba(0,0,99,0.2); 
}

.n1, .n2, .n3, .n4 {
    background-color:       green;
    background-color:       rgba(0,255,0,0.15);
}

.n5 {
    background-color:       yellow;
    background-color:       rgba(255,255,0,0.15);
}

.n6, .n7, .n8, .n9, .n10, .out  {
    background-color:       red;
    background-color:       rgba(255,0,0,0.15);
}

.n1, .n5, .n6 {
    font-weight:            bold;
}

.clear {
    clear:                  both;
}

/*
    Floating mouseover menu
*/
span.dropt { }
span.dropt:hover {text-decoration: none;  z-index: 6; }
span.dropt span {
    font-size:80%;
    position: absolute; 
    left: -9999px;
    margin: 0px 0 0 0px; 
    padding: 3px 3px 3px 3px;
    border-style:solid; 
    border-color:black; 
    border-width:1px; 
    z-index: 6;
}
span.dropt:hover span {left: 0; } 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 



