
/*
    tag styles
*/

body {
    color:                  #000;   
    font-family:            Cutive,'Arial Black', sans-serif;    
    font-size:              12pt;
    margin:                 0 auto;
    width:                  80%;
}

h1, h2 {
    color:                  #333;
    font-family:            'Headland One','Arial Black', sans-serif;
    font-size:              200%;    
    font-weight:            bold;
    line-height:            120%;
    margin:                 0 auto 0.1em auto;
    text-align:             center;
    text-shadow:            2px 2px 0 rgba(0,0,0,0.1); 
}

h1 {
    font-variant:           small-caps;
}

h2 {
    text-transform:         uppercase;
}

h3 {
    font-family:            Cutive,Arial, Arial, Helvetica, sans-serif;
    font-size:              110%;
    font-weight:            bold;
    line-height:            140%;
    margin:                 1em auto 0.5em auto;
    text-align:             center;    
    width:                  90%;
}

p {
    font-family:            'Cutive',Arial, Arial, Helvetica, sans-serif;
    line-height:            120%;
    margin:                 0.25em auto;
    text-align:             center;    
    width:                  98%;
}

#shutup {
    -moz-box-shadow:        inset 0px 1px 0px 0px #C95D13;
    -webkit-box-shadow:     inset 0px 1px 0px 0px #C95D13;
	box-shadow:             inset 0px 1px 0px 0px #C95D13;
	background:             #F87217;
    background:             -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F87217), color-stop(1, #FA9C5D) );
	background:             -moz-linear-gradient( center top, #F87217 5%, #FA9C5D 100% );    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F87217', endColorstr='#FA9C5D');
	border:                 2px solid #DF6715;
    -moz-border-radius:     4px;
	-webkit-border-radius:  4px;
	border-radius:          4px;
    clear:                  both;
	color:                  #ffffff;
    cursor:                 hand;
    cursor:                 pointer;
    display:                inline-block;
	font-family:            'Headland One','Arial Black', sans-serif;
	font-size:              120%;
	font-weight:            bold;
    letter-spacing:         2px;
    margin:                 1em auto;
	padding:                6px 24px;
	text-decoration:        none;
	text-shadow:            2px 2px 3px #cc9f52;    
}